<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="connection.url">jdbc:mysql://localhost/sube2</property>
  <property name="connection.username">root</property>
  <property name="connection.password"/>
  <property name="connection.pool_size">1</property>
  <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">false</property>
  <!-- en true muestra hql en consola 
 Mapeo Entidades -->
 
  <mapping resource="mapeos/RedSube.hbm.xml"/>
  
  <mapping resource="mapeos/Usuario.hbm.xml"/>
  
  <mapping resource="mapeos/Tarjeta.hbm.xml"/>
  
  <mapping resource="mapeos/Boleto.hbm.xml"/>
  
  <mapping resource="mapeos/Estacion.hbm.xml"/>
  
  <mapping resource="mapeos/Linea.hbm.xml"/>
  
  <mapping resource="mapeos/Ramal.hbm.xml"/>
  
  <mapping resource="mapeos/Transporte.hbm.xml"/>
  
  <mapping resource="mapeos/Viaje.hbm.xml"/>
  
  <mapping resource="mapeos/RamalEstacion.hbm.xml"/>
  
  <mapping resource="mapeos/usuario_tiene_beneficio.hbm.xml"/>
  
  <mapping resource="mapeos/UsuarioDescuento.hbm.xml"/>
 
  <mapping resource="mapeos/Descuento.hbm.xml"/>
  
  <mapping resource="mapeos/Beneficio.hbm.xml"/>
  
  <mapping resource="mapeos/Movimiento.hbm.xml"/>
  
  <mapping resource="mapeos/Tarifa.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
